{% layout "layout.liquid" %} {% block content %}

<style>
legend {
    color: hotpink;
    font-size: 40px;
    font-family: "Delius", cursive;
    text-align: center;
    margin-inline: auto;
    width: min(90%, 70.5rem);
  }
  .name {
    font-size: 40px;
    font-family: "Patrick Hand", cursive;
    text-align: center;
    color: mediumvioletred;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  .date {
    font-size: 30px;
    font-family: "Delius", cursive;
    color: deeppink;
    text-align: center;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  .topic {
    font-size: 40px;
    font-family: "Patrick Hand", cursive;
    text-align: center;
    color: mediumvioletred;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  .entry {
    font-size: 30px;
    font-family: "Delius", cursive;
    text-align: center;
    color: deeppink;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  input[type="submit"] {
    display: flex;
    justify-content: center;
    color: white;
    background-color: hotpink;
    font-size: 20px;
    font-family: "Patrick Hand", cursive;
    height: 50px;
    width: 200px;
    border: 3px solid white;
    border-radius: 15px;
    margin: auto;

  }
  #name {
    height: 50px;
    width: 400px;
    border: 3px solid white;
    border-radius: 15px;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  #date {
    height: 50px;
    width: 300px;
    border: 3px solid white;
    border-radius: 15px;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  #topic {
    height: 50px;
    width: 400px;
    border: 3px solid white;
    border-radius: 15px;
    margin: auto;
    width: min(90%, 70.5rem);
  }
  #entry {
    height: 350px;
    border: 3px solid white;
    border-radius: 15px;
    margin: auto;
    width: min(90%, 70.5rem);
  }
</style>

<div>
  <form action="/journals" method="post">
    <fieldset>
      <legend>Create a New Entry</legend>

      <label class="name">
        Name:
        <input type="text" id="name" name="name" placeholder="Enter your name here" />
      </label>

      <label class="date">
        Date: <input type="text" id="date" name="date" placeholder="MM/DD/YYYY" />
      </label>

      <label class="topic">
        Topic:
        <input type="text" id="topic" name="topic" placeholder="Whats todays topic?" />
      </label>
      <label class="entry">
        Journal Entry: <br>
        <textarea
          id="entry"
          name="entry" value="{{ journal.entry }}"
        ></textarea>
      </label>
    </fieldset>
    <input type="submit" value="create new entry" />
  </form>
</div>

{% endblock %}
