{% layout "layout.liquid" %} {% block content %}
<style>
  .button1 {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    display: flex;
    justify-content: space-evenly;
  }
  .button2 {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    display: flex;
    justify-content: space-evenly;
  }
  .signup {
    color: white;
    background-color: hotpink;
    font-size: 30px;
    font-family: "Patrick Hand", cursive;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid white;
  }
  .login {
    color: white;
    background-color: hotpink;
    font-size: 30px;
    font-family: "Patrick Hand", cursive;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    border: 3px solid white;
  }
  article {
    font-family: "Patrick Hand", cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    border: 3px solid deeppink;
    border-radius: 25px;
    margin: 50px;
    padding: 30px;
  }
  p {
    font-family: "Patrick Hand", cursive;
    color: white;
    text-align: center;
    font-size: 40px;
    border: 3px solid deeppink;
    border-radius: 25px;
    margin: 50px;
    padding: 30px;
  }
</style>

<div class="button1">
  <a href="/user/signup"><button class="signup">Signup</button></a>
</div>
<div class="button2">
  <a href="/user/login"><button class="login">Login</button></a>
</div>

<article>
  Join our Journal community and begin writing your goals everyday, your
  problems, your thoughts or just keep a daily log.
</article>

{% endblock %}
