{% layout "layout.liquid" %}
{% block content %}

<style>
div {
    display: flex;
    justify-content: center;
    align-content: center;
}
legend {
    color: hotpink;
    font-size: 40px;
    font-family: 'Delius', cursive;
    text-align: center;
}
label {
    color:mediumpurple;
    font-family: 'Delius', cursive;
    font-size: 30px;
    text-align: center;
}
input[type="text"] {
    height: 50px;
    width: 400px;
    border: 3px solid black
} 
input[type="password"] {
    height: 50px;
    width: 400px;
    border: 3px solid black
} 
fieldset input[type="submit"] {
    color: white;
    background-color: hotpink;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    height: 50px;
    width: 200px;
    border: 3px solid black;
} 
</style>

<div>
<form action="/user/signup" method="post">
<fieldset>
<legend>Create an account</legend>
<label>
    Username: <input type="text" name="username" required/> 
</label>
<label>
    Password: <input type="password" name="password" required/>
</label>

<input type="submit" value="Create Account" />

</fieldset>

</form>
</div>
{% endblock %}