
body {
    background-color: pink;
}
h1 {
    font-family: 'Patrick Hand', cursive;
    color:deeppink;
    text-align: center;
    font-size: 90px;
}
.emojis {
    display: flex;
    justify-content: center;
  }

